.navbar {
  /*box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);*/
  font-weight: bold;
  margin-bottom: 20px;
  height:4rem;
}

.login button {
  padding : 5px;
}

.name {
  margin-left:10px;
}

#myTab {

  width:73%;
}